#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Define installation type
text
reboot
# Define installation sources
url --url=https://mirror.dal10.us.leaseweb.net/centos/8.2.2004/BaseOS/x86_64/os/
repo --name=epel --baseurl=https://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=cos8.template
# Root password
rootpw --iscrypted $6$uy0JiQbjvTbPDNJZ$o8vqYrASeVzQIxAtMktEOHmycrR4O0KnBXed.ZW8NNTOYdhzoIh5Bp3x3Bcgd9AONHWGw1pxEIjRQuybzzqyW1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System timezone
timezone America/Chicago --utc --nontp
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
part pv.221 --fstype="lvmpv" --ondisk=sda --size=14758
volgroup cl --pesize=4096 pv.221
logvol / --fstype="xfs" --size=14752 --name=root --vgname=cl

%post --nochroot
sed -ie '/^#PermitRootLogin/s/^.*$/PermitRootLogin yes/' /mnt/sysimage/etc/ssh/sshd_config
sed -ie '/^#PasswordAuthentication/s/^.*$/PasswordAuthentication yes/' /mnt/sysimage/target/etc/ssh/sshd_config
%end


# Install environment
%packages
## only do minimal install, we'll configure later on
@^minimal-environment
kexec-tools
open-vm-tools
## prevent unneccessary firmware from being installed
-iwl*
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
